

.loading__animation{
  animation: loading ease 3s;
}
@keyframes loading {
  0%{
    opacity: 0;
  }
  100%{
opacity: 1;
  }
}

.button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #333;
  border: none;
  color: #fff;
  width: 100%;

}

.button:hover {
  letter-spacing: 0.25em;
  background: #ff1867;
  color: #ff1867;
  box-shadow: 0 0 45px #ff1867;
}

.button::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #222222;
  border-radius: 1.5rem
}

.button span {
  position: relative;
  
  z-index: 1;
}

.button i {
  position: absolute;
  inset: 0;
  display: block;
}

.button i::before {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.button:hover i::before {
  width: 20px;
  left: 20%;
}

.button i::after {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.button:hover i::after {
  width: 20px;
  left: 80%;
}

.unused-filter{
  animation: glow infinite 2s;
  /* color: red */
}
@keyframes glow {
  0%{
    color: white;
  }
  50%{
    color: #090a0f;
  }
  100%{
    color: white;
  }
}
.glowing-cart{
  animation: glowing infinite 4s;
}

@keyframes glowing {
  0%{
    color: white;
  }
  50%{
    color: rgba(17,188,242,255);
  }
  100%{
    color: white;
  }
}
.logo__wrapper i::before{
  transition-duration: 0.3s;
  animation: glowing infinite 4s;
}
.logo__wrapper:hover i::before{
  color: rgba(254,56,117,255);
}

.active-product{
  animation: activeproduct 4s infinite;
}
@keyframes activeproduct{
  0%{
    color: rgb(239 68 68)
  }
  50%{
    color: rgb(220 38 38);
  }
  100%{
    color: rgb(239 68 68)
  }
}

/* transitions.css */
.fade-enter {
  opacity: 0;
  transform: translateY(100px); /* Адаптируйте начальное вертикальное перемещение */
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2000ms ease-out, transform 300ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateY(100px); /* Адаптируйте конечное вертикальное перемещение */
  transition: opacity 2000ms ease-out, transform 300ms ease;
}



.korzina-enter {
  opacity: 0;
  transform: translateY(100px); /* Адаптируйте начальное вертикальное перемещение */
  z-index: 1;
}

.korzina-enter.korzina-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2000ms ease-out, transform 300ms ease;
}

.korzina-exit {
  opacity: 1;
  transform: translateY(100px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 2000ms ease-out, transform 300ms ease, background-color 300ms ease;
}

.korzina-exit.fade-exit-active {
  opacity: 0;
  transform: translateY(100px); /* Адаптируйте конечное вертикальное перемещение */
  transition: opacity 2000ms ease-out, transform 300ms ease, background-color 300ms ease;
}

body {
  -webkit-user-select: none; /* Запрет выделения на WebKit браузерах */
  -moz-user-select: none; /* Запрет выделения на Mozilla браузерах */
  -ms-user-select: none; /* Запрет выделения на Internet Explorer */
  user-select: none; /* Запрет выделения на других браузерах */
}





.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(254,56,117,255);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(0,140,255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0,140,255);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.admin__form{
  background-color: rgba(255, 255, 255, 1);
}
.Toastify__toast{
  z-index: 999999999999999;
  /* position: fixed!important; */
}
body:before{
  content: "";
}
/* .time__wrapper{
    display: grid;
    grid-template-columns: 70% 29%;
    align-items: center;
    gap: 1%;
} */
 .page-blur-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  z-index: -1;
}
.pagination__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 15px;
}
.pagination__wrapper button, .pagination__wrapper span{
  background-color: rgb(9 10 15);
    display: flex;
  justify-content: center;
  align-items: center;
}
.additional__loading{
  position: relative;
}
.additional__loading:after{
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
position: absolute;
height: 100%;
width: 100%;
z-index: 2;
top: 0;
left: 0;
}
.error__message{
      height: 400px;
    font-size: 40px;
    display: flex
;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}